.folder{
    justify-content: space-between;
    cursor: pointer;
}
.folder > span{
    margin:  0 5px 2px -1px;
}
.file{
    flex-direction: column;
    margin-top: 5px;
    display: flex;
}
.exploredownlord{
    background-color:rgb(255, 0, 13);
    width:2px;
    /* margin-left: 150px;
    margin-top: -28px; */
    margin-left:15px;
}
.exploredownlord :hover{
    background-color:rgb(0, 255, 21);
}