
/*==================== GENERAL STYLER ==================*/
section{
    margin-top: 8rem;
    height: 100vh;
}
h1{
    color: aliceblue;
}
body{
    background-repeat: no-repeat;
    background: #000

}

/*=======================MEDIA QUERIES(MEDIUM DEVICES) =========================*/
@media screen and (max-width:1024px){
    .container{
        width: var(--container-width-md);
    }
    section{
        margin-top: 6rem;
    }
}
/*=======================MEDIA QUERIES(SMall DEVICES) =========================*/
@media screen and (max-width: 600px){
    .container{
        width: var(--containerwidth-ms);
    }
    section >h2{
        margin-bottom: 2rem;
    }
    .btn{
        position: absolute;
        margin-top: 28.5rem;
    }
}